<h4>{{ leyenda }}</h4>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="modificarProgreso(-5)"><i class="mdi mdi-minus"></i></button>
    </div>

    <input #txtProgreso type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="alCambiar($event)" min="1" max="100">

    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="modificarProgreso(+5)"><i class="mdi mdi-plus"></i></button>
    </div>
</div>